{% extends 'dashboard_home.html' %}

{% block content %}

<div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTaskLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header p-3 bg-primary-subtle">
                <h5 class="modal-title" id="createTaskLabel">{% if item %}Edit Item{% else %}Create New{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="createTaskBtn-close"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="task-error-msg" class="alert alert-danger py-2"></div>
                <form autocomplete="off"
                    action="{% if item %}{% url 'edit_item' item.id %}{% else %}{% url 'add_items' %}{% endif %}"
                    method="POST" id="creattask-form">
                    {% csrf_token %}
                    <input type="hidden" id="taskid-input" class="form-control" name="id"
                        value="{{ item.id|default:'' }}">
                    <div class="mb-3">
                        <label for="task-title-input-1" class="form-label">Name :</label>
                        <input type="text" id="task-title-input-1" class="form-control" name="name"
                            value="{{ item.name|default:'' }}" placeholder="eg, Google, Whatsapp" autocomplete="on">
                    </div>
                    <div class="mb-3">
                        <label for="task-title-input-2" class="form-label">Username :</label>
                        <input type="text" id="task-title-input-2" class="form-control" name="username"
                            value="{{ item.username|default:'' }}" placeholder="Enter Username" autocomplete="on">
                    </div>
                    <div class="mb-3">
                        <label for="task-title-input-3" class="form-label">Password :</label>
                        <input type="password" id="task-title-input-3" class="form-control" name="password"
                            value="{{ item.password|default:'' }}" placeholder="Enter Password">
                    </div>
                    <div class="mb-3">
                        <label for="task-title-input-4" class="form-label">Other details ( if needed ) :</label>
                        <input type="text" id="task-title-input-4" class="form-control" name="other_details"
                            value="{{ item.other_details|default:'' }}" placeholder="Other details">
                    </div>
                    <div class="hstack gap-2 justify-content-end px-2 mb-2">
                        <button type="button" class="btn btn-ghost-danger" data-bs-dismiss="modal"><i
                                class="ri-close-fill align-bottom"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="addNewTodo">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}