<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/static/logo/fav_logo.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- <link href="/static/css/magnific-popup.css" rel="stylesheet" /> -->
    <link href="/static/css/validnavs.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/responsive.css" rel="stylesheet" />

    <!-- ========== End Stylesheet ========== -->

    <title>T Passwords</title>

</head>

<body>

    <!-- Header 
    ============================================= -->
    {% include 'navbar.html' %}
    <!-- End Header -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area text-light bg-gradient banner-style-five text-default">

        <div class="animated-wave">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>

        </div>

        <div class="container">
            <div class="double-items">
                <div class="row align-center">

                    <div class="col-lg-6 info">
                        <h2 class="wow fadeInLeft" data-wow-defaul="300ms">Start your 7 days free trial now.</h2>
                        <p class="wow fadeInLeft" data-wow-delay="500ms">
                            Don't let your passwords be your downfall. Sign up for a free trial of our password manager
                            today and start protecting your online accounts.
                        </p>
                        <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button type="submit"> Submit</button>
                        </form>
                    </div>

                    <div class="col-lg-6 thumb wow fadeInRight" data-wow-delay="900ms">
                        <img src="/static/images/illustration/19.png" alt="Thumb">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->




    <!-- Start Features
    ============================================= -->
    <div class="features-style-four-area text-center default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h2>We are Better Here is Why</h2>
                        <div class="devider"></div>
                        <p>
                            The only password manager you'll ever need.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single item -->
                <div class="features-style-four col-lg-3 col-md-6">
                    <div class="feature-style-four-item">
                        <div class="icon">
                            <img src="/static/images/icon/app/1.png" alt="Icon">
                        </div>
                        <div class="info">
                            <h4>Top-Notch Security</h4>
                            <p>
                                Your protection is paramount. We employ cutting-edge encryption and industry-best
                                practices to keep your passwords safe from breaches.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->
                <!-- Sing item -->
                <div class="features-style-four col-lg-3 col-md-6">
                    <div class="feature-style-four-item">
                        <div class="icon">
                            <img src="/static/images/icon/app/2.png" alt="Icon">
                        </div>
                        <div class="info">
                            <h4>User Friendly Interface</h4>
                            <p>
                                Our intuitive design makes managing passwords simple and hassle-free, providing a
                                seamless experience for all users.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->
                <!-- Single item -->
                <div class="features-style-four col-lg-3 col-md-6">
                    <div class="feature-style-four-item">
                        <div class="icon">
                            <img src="/static/images/icon/app/4.png" alt="Icon">
                        </div>
                        <div class="info">
                            <h4>Cross-Platform Accessibility</h4>
                            <p>
                                Access your passwords securely anytime, anywhere, across multiple devices, including
                                desktops, laptops, tablets, and smartphones.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->
                <!-- Single item -->
                <div class="features-style-four col-lg-3 col-md-6">
                    <div class="feature-style-four-item">
                        <div class="icon">
                            <img src="/static/images/icon/app/3.png" alt="Icon">
                        </div>
                        <div class="info">
                            <h4>Organized Password Vault</h4>
                            <p>
                                Say goodbye to password chaos. Our password manager lets you efficiently organize and
                                categorize your passwords for easy retrieval.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->
            </div>
        </div>
    </div>
    <!-- End Features -->

    <!-- Start Fun Factor Area
    ============================================= -->
    <div class="fun-facts-area bg-gray default-padding">
        <!-- Shape -->
        <div class="shape" style="background-image: url(/static/images/shape/43.png);"></div>
        <!-- Shape -->
        <div class="container">
            <div class="item-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="18" data-speed="2000">#1</div>
                                <!-- <div class="operator"></div> -->
                            </div>
                            <span class="medium">Safety Excellence 2023</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="98" data-speed="2000">98</div>
                                <div class="operator">%</div>
                            </div>
                            <span class="medium">Positive Rating</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="12" data-speed="2000">2</div>
                                <div class="operator">M</div>
                            </div>
                            <span class="medium">Trusted Users</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="5" data-speed="2000">1.2</div>
                                <div class="operator">M</div>
                            </div>
                            <span class="medium">Active Accounts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Factor Area -->

    <!-- To create the space above the next div  -->
    &nbsp;

    <!-- Start Pricing
    ============================================= -->
    <div id="pricing" class="pricing-area bg-gray default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h2>Our Packages</h2>
                        <div class="devider"></div>
                        <p>
                            We offers a variety of packages to meet your needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pricing-style-two-box">
                <div class="row">
                    <!-- Single Itme -->
                    <div class="col-lg-4 col-md-6 single-item pricing-style-two">
                        <div class="pricing-item">
                            <i class="fas fa-rocket"></i>
                            <div class="pricing-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="price">
                                <h2><sup>₹</sup>29 <sub>/ Monthly</sub></h2>
                            </div>
                            <ul>
                                <li>
                                    <i class="fas fa-check"></i> 1 User Account
                                </li>
                                <li>
                                    <i class="fas fa-check"></i> 500 MB free storage
                                </li>
                                <li>
                                    <i class="fas fa-check"></i> Automatic Sync Across Devices
                                </li>
                            </ul>
                            <a class="btn circle btn-gray btn-sm" href="#">Purchase Plan</a>
                        </div>
                    </div>
                    <!-- End Single Itme -->

                    <!-- Single Itme -->
                    <div class="col-lg-4 col-md-6 single-item active pricing-style-two">
                        <div class="pricing-item">
                            <i class="fas fa-gem"></i>
                            <div class="pricing-header">
                                <h4>Standard</h4>
                            </div>
                            <div class="price">
                                <h2><sup>₹</sup>59 <sub>/ Monthly</sub></h2>
                            </div>
                            <ul>
                                <li><i class="fas fa-check"></i> 5 User Account</li>
                                <li><i class="fas fa-check"></i> 2 GB Free Storage</li>
                                <li><i class="fas fa-check"></i> Automatic Sync Across Devices</li>
                                <li><i class="fas fa-check"></i> Stay Logged In When Switching Devices</li>
                            </ul>
                            <a class="btn circle btn-theme-effect btn-sm" href="#">Purchase Plan</a>
                        </div>
                    </div>
                    <!-- End Single Itme -->

                    <!-- Single Itme -->
                    <div class="col-lg-4 col-md-6 single-item pricing-style-two">
                        <div class="pricing-item">
                            <i class="fa fa-chart-pie"></i>
                            <div class="pricing-header">
                                <h4>Professional</h4>
                            </div>
                            <div class="price">
                                <h2><sup>₹</sup>99 <sub>/ Monthly</sub></h2>
                            </div>
                            <ul>
                                <li><i class="fas fa-check"></i> 10 User Account</li>
                                <li><i class="fas fa-check"></i> 5 GB Free Storage</li>
                                <li><i class="fas fa-check"></i> Automatic Sync Across Devices</li>
                                <li><i class="fas fa-check"></i> Stay Logged In When Switching Devices</li>
                                <li><i class="fas fa-check"></i> Detect Weak and reused passwords</li>
                            </ul>
                            <a class="btn circle btn-gray btn-sm" href="#">Purchase Plan</a>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Area -->

    <!-- Start Free Trial 
    ============================================= -->
    <!--
    <div class="free-trial-area text-light text-center relative">
        <div class="trial-box" style="background-image: url(assets/img/shape/8.png);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h5>Free Trial</h5>
                        <h2>Start Your 7 Days Free <br> Trial Now !</h2>
                        <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button type="submit"> Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="illustration">
                <img src="assets/img/illustration/1.png" alt="illustration">
            </div>
        </div>
    </div>
    -->
    <!-- End Free Trial -->


    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img src="/static/logo/logo_white.png" alt="Logo">
                            <p>
                                Keep your passwords safe, so you can focus on what matters.
                            </p>
                            <form action="#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> <i class="fas fa-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Quick Links</h4>
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}"><i class="fas fa-angle-right"></i> Home</a>
                                </li>
                                <li>
                                    <a href="#pricing"><i class="fas fa-angle-right"></i> Pricing</a>
                                </li>
                                <li>
                                    <a href="services.html"><i class="fas fa-angle-right"></i> Services</a>
                                </li>
                                <li>
                                    <a href="about-us.html"><i class="fas fa-angle-right"></i> About us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Policies</h4>
                            <ul>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fas fa-angle-right"></i> Cancellation Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item contact-widget">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Address:</strong>
                                            535, C-Scheme, Jaipur, Rajasthan, India
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Email:</strong>
                                            <a href="#">info@tpasswords.com</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Phone:</strong>
                                            <a href="#">+91 1234567890</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>&copy; Copyright 2023. All Rights Reserved
                    </div>
                    <!-- <div class="col-lg-6 text-end link">
                        <ul>
                            <li>
                                <a href="about-us.html">Terms</a>
                            </li>
                            <li>
                                <a href="about-us.html">Privacy</a>
                            </li>
                            <li>
                                <a href="contact.html">Support</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
</body>

</html>