<nav class="navbar mobile-sidenav attr-border navbar-sticky navbar-default validnavs navbar-fixed white  no-background">


    <div class="container d-flex justify-content-between align-items-center">

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/logo/logo_white.png" class="logo" alt="Logo">
            </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">



            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li>
                    <a href="{% url 'home' %}" class="dropdown-toggle active">Home</a>
                </li>
                <li>
                    <a href="#pricing" class="dropdown-toggle">Pricing</a>
                </li>
                <li>
                    <a href="#about_us" class="dropdown-toggle">About Us</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

        <div class="attr-right">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="button"><a href="{% url 'login_user' %}">Get started</a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>

        <!-- Main Nav -->
    </div>
    <!-- Overlay screen for menu -->
    <div class="overlay-screen"></div>
    <!-- End Overlay screen for menu -->
</nav>